<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Stable app-level settings -->
    <add key="StreamUrl" value="https://558312d54930d.streamlock.net/live/ccrb2.fois.axis.stream/playlist.m3u8" />
    <!-- Comma-separated list -->
    <add key="FfmpegCommon" value="-hide_banner,-loglevel,error,-y,-rw_timeout,15000000" />
  </appSettings>
</configuration>
